{% include 'partials/header_style.html.twig' %}

<div class="bg-image bg-image-header bg-center-center">
  <div class="site-branding">
    <a href="{{ base_url_absolute }}">
      <img class="logo" src="{{ theme_url }}/img/{{ site.logo }}" alt="{{ site.logo }}">
    </a>
  </div>
</div>
